%div.count.alert.alert-info{style: "width: 300px; margin-left: auto; margin-right: auto; text-align: center"}
  %p{style: "font-size: 120%"}
    Countries with medals:
    %span.number{style: "font-weight: bold"}
      = medal_count.count
%div.medals-table
  %table.tables.table-striped.medals.table-bordered.table-condensed{style: "margin-left: auto;margin-right: auto;text-align:center; font-size: 14px"}
    %thead
      %tr
        %th
          Rank
        %th
          Flag
        %th
          Country
        %th
          Gold
        %th
          Silver
        %th
          Bronze
        %th
          Total
    %tbody
      - medal_count.each do |country|
        %tr
          %td= country['rank']
          %td
            %img{src: "http://www.london2012.com/" + country["flag"]}
          %td{style: "text-align: left"}= country['country']
          %td= country['gold']
          %td= country['silver']
          %td= country['bronze']
          %td= country['total']
