<!DOCTYPE HTML>
<html slang="en">
<head>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css"/>
</head>
<body>
<div class="container">
  <div class="navbar avbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Olympics Medal Count
        </a>
      </div>
    </div>
  </div>

  <div class="medals-table">
    <table class="tables table-striped medals table-bordered table-condensed" style="margin-left: auto;margin-right: auto;text-align:center">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Flag</th>
          <th>Country</th>
          <th>Gold</th>
          <th>Silver</th>
          <th>Bronze</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      <% json_result.each do |country| %>
        <tr>
          <td><%= country["rank"] %></td>
          <td><img src="http://www.london2012.com/<%= country["flag"] %>"></td>
          <td style="text-align: left"><%= country["country"] %></td>
          <td><%= country["gold"] %></td>
          <td><%= country["silver"] %></td>
          <td><%= country["bronze"] %></td>
          <td><%= country["total"] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>
